body {
    margin: 0;
    background: #1a1a1a;
    font-family: Arial, sans-serif;
}

#layout {
    position: relative;
    width: 100%;
    height: 100vh;
}


iframe {
    width: 100%;
    height: 100%;
    border: none;
}

#layout {
    position: relative;
    width: 100%;
    height: 100vh;
}

#animationFrame {
    position: absolute;
    right: 0;
    top: 295px;          /* ⬅ AJUSTA según la altura del panel Movimientos */
    width: 510px;       /* acomodar centrado - izq y der */
    height: 30  0px;       /* animación + texto + botones */
    z-index: 10;
}

/* ===============================
   CUADRADO AZUL SEMI TRANSPARENTE - Dificultad
   =============================== */
#blueBox {
    position: absolute;

    top: 50px;        /* ajústalo luego */
    left: 280px;      /* a un costado del tablero */

    width: 500px;
    height: 500px;

    /* === ESTILO ANTES DE OCULTAR blueBox === */
    /*background: rgba(0, 90, 255, 0.35); /* azul semi transparente 
    border: 2px solid rgba(0, 90, 255, 0.7); */

    /*background: rgba(0, 90, 255, 0); */

    background:2px solid rgba(0, 90, 255, 0);
    border: 2px solid rgba(0, 90, 255, 0);


    z-index: 3;
}

/* ===============================
   Mensajes recibidos del ajedrez - Emociones
   =============================== */
#eventLog {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.85);
    color: #00ffcc;
    font-family: monospace;
    font-size: 13px;
    padding: 6px 10px;
    box-sizing: border-box;
    z-index: 9999;
    pointer-events: none;

    display: none; /* Oculta completamente el div */
}

/* ===============================
   AJUSTES RESPONSIVOS - PARA MOVIL
   =============================== */

@media (max-width: 1000px) {

    #blueBox {
        position: absolute;
        top: 29%;
        left: 50%;
        width: 820px;
        height: 820px;
        transform: translate(-50%, -50%); /* ⬅ CENTRADO REAL */
    }

    #animationFrame {
        position: absolute;
        right: 0;
        top: 920px;          /* ⬅ AJUSTA según la altura del panel Movimientos */
        width: 500px;       /* acomodar centrado - izq y der */
        height: 540px;       /* animación + texto + botones */
        z-index: 10;
    }

    /* ===== BLOQUEAR SCROLL GLOBAL EN MÓVIL ===== */
    html,
    body {
        height: 100%;
        overflow: hidden;
        overscroll-behavior: none; /* evita rebote en móviles */
        touch-action: manipulation;
    }
}

/* PARTE 2 - MOVIL */
@media (max-width: 700px) {

    #blueBox {
        position: absolute;
        top: 29%;
        left: 50%;
        width: 820px;
        height: 820px;
        transform: translate(-50%, -50%); /* ⬅ CENTRADO REAL */
    }

    #animationFrame {
        position: absolute;
        right: 0;
        top: 920px;          /* ⬅ AJUSTA según la altura del panel Movimientos */
        width: 500px;       /* acomodar centrado - izq y der */
        height: 540px;       /* animación + texto + botones */
        z-index: 10;
    }

    /* ===== BLOQUEAR SCROLL GLOBAL EN MÓVIL ===== */
    html,
    body {
        height: 100%;
        overflow: hidden;
        overscroll-behavior: none; /* evita rebote en móviles */
        touch-action: manipulation;
    }
}